<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-label>Passo 1: Crie um inventário. O inventário pode ser criado vazio ou com a importação de um arquivo xlsx com a lista de bens, em que a primeira coluna é o código numérico do bem e a segunda (opcional) é a descrição.</ion-label>
  </div>
  <div>
    <ion-label>Passo 2: Inicie a conferência dos bens na aba Leitura, utilizando a câmera para leitura do código de barras, ou inserindo manualmente os códigos dos bens. Para esta segunda opção, pressione o botão Voltar para sair do modo Scanner.</ion-label>
  </div>
</ion-content>
