<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Passo 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>Crie um inventário. O inventário pode ser criado vazio ou com a importação de um arquivo xlsx com
      a lista de bens, em que a primeira coluna é o código numérico do bem e a segunda (opcional) é a descrição.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Passo 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>Inicie a conferência dos bens na aba Leitura, utilizando a câmera para leitura do código de
      barras, ou inserindo manualmente os códigos dos bens. Para esta segunda opção, pressione o botão Voltar para sair
      do modo Scanner.</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Passo 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>É possível acompanhar a conferência do inventário entrando nos detalhes do inventário. Para isso,
      basta tocar o patrimônio desejado e serão apresentadas as informações daquele inventário e também é possível
      listar os bens desse inventário.</ion-card-content>
  </ion-card>
</ion-content>