<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inventarios">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inventários</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="leitura">
        <ion-icon name="barcode"></ion-icon>
        <ion-label>Leitura</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="sobre">
        <ion-icon name="help"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>{{ userEmail }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>