<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventarios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Inventário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Localização</ion-label>
    <ion-input [(ngModel)]="localizacao"></ion-input>
  </ion-item>
  <ion-button expand="block" color="secondary" (click)="importarBens()">
    Importar Bens
  </ion-button>
  <ion-button expand="block" (click)="salvar()">
    Salvar
  </ion-button>
</ion-content>