<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meus Inventários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let inventario of inventarios" (click)="abrirDetalhesInventario(inventario)">
      <ion-label>{{inventario.nome}}</ion-label>
      <ion-chip *ngIf="inventario.atual" color="danger"><ion-label>Atual</ion-label></ion-chip>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirNovoInventario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>