<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Inventário {{ inventario?.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="qtdeTotalBens > 0">
    <ion-card-header>
      <ion-card-title>{{ qtdeBensConferidos / qtdeTotalBens | percent}} conferido <ion-chip *ngIf="inventario.atual" color="danger"><ion-label>Atual</ion-label></ion-chip></ion-card-title>
      <ion-card-content>
        <div *ngIf="inventario?.localizacao">Localização: {{ inventario.localizacao }}</div>
      </ion-card-content>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="grafico"></google-chart>
    </ion-card-content>
    <ion-item (click)="abrirListaBens()" color="secondary">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>Bens</ion-label>
    </ion-item>
    <ion-item *ngIf="!inventario.atual" color="danger" (click)="tornarAtual()">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>Tornar atual</ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="qtdeTotalBens == 0">
    <ion-card-header>
      <ion-card-title>Inventário vazio <ion-chip *ngIf="inventario.atual" color="danger"><ion-label>Atual</ion-label></ion-chip></ion-card-title>
    </ion-card-header>
    <ion-item *ngIf="!inventario.atual" color="danger" (click)="tornarAtual()">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>Tornar atual</ion-label>
    </ion-item>
  </ion-card>
</ion-content>