<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventarios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Inventário {{ inventario?.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Bens {{ qtdeBensConferidos }} de {{ qtdeTotalBens }}</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bens {{ qtdeBensConferidos }} de {{ qtdeTotalBens }}</ion-card-title>
    </ion-card-header>
    <ion-item (click)="abrirListaBens()" class="activated">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>Bens</ion-label>
    </ion-item>
  </ion-card>
</ion-content>